* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: var(--Responsive-CSS-Project-1-hexColor);
}


:root {
--Responsive-CSS-Project-1-hexColor: #4DBEF7;
--Responsive-CSS-Project-2-hexColor: #43CCD9;
--Responsive-CSS-Project-3-hexColor: #56F0D1;
--Responsive-CSS-Project-4-hexColor: #43D990;
--Responsive-CSS-Project-5-hexColor: #4DF775;
}


/* Header and Nav style */


header {
    padding: 20px;
    display: flex;
    justify-content: space-between;
}

nav {
    display: inline-block;
}

nav ul {
    list-style: none;
    display: flex;
}

nav li {
    margin-right: 20px;
    font-size: 20px;
}

nav a {
    text-decoration: none;
    color: #fff;
}

.logo {
    width: 5rem;
}

.hamburger {
    color: white;
    display: none;
}


/* Main style */

main {
    display: flex;
    flex-direction: column;
    margin: 5rem;
    gap: 5em;
    text-align: justify;
    flex: 1;
}
article {
    font-size: 18px;
}

main span {
    text-transform: uppercase;
    font-weight: bold;
}






/* Footer style */

footer {
    margin-top: 25rem;
    overflow: scroll;
    bottom: 0;
    width: 100%;
    height: 25px;
    text-align: center;
}














/* Responsive Web Design */

@media screen and (min-width: 320px) and (max-width: 425px) {
   .logo {
    width: 2rem;
   }

   nav li {
    margin-right: 10px;
    font-size: 10px;
}

   article {
    font-size: 12px;
   } 

   footer {
    font-size: 12px;
   }
}

@media only screen and (min-width: 425px) and (max-width: 1024px) {
    .logo {
        width: 2.5rem;
       }
      
       nav li {
        margin-right: 16px;
        font-size: 16px;
    }
    
       article {
        font-size: 16px;
       }

    footer {
        font-size: 16px;
    }
}